<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.his.manager.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.his.manager.domain.SysUser" >

    <id column="username" property="username" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="activated" property="activated" jdbcType="INTEGER" />
    <result column="activationKey" property="activationKey" jdbcType="VARCHAR" />
    <result column="resetpasswordkey" property="resetpasswordkey" jdbcType="VARCHAR" />
    <result column="employeeId" property="employeeId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    username,password,email, activated, activationKey, resetpasswordkey,type,employee_id employeeId
  </sql>


</mapper>